#wrapper,
.navbar,
.content-info,
.content-top {
  background: #fafafa;
}

.content > div {
  padding: 0 20px;
  word-break: break-all;
  color: #000;
}
.content-top {
  position: relative;
  font-size: 15pt;
  color: #000;
  font-weight: bold;
}

.content-top .delete {
  position: absolute;
  right: 20px;
}

.content-top .edit {
  position: absolute;
  right: 70px;
}

.content-top span {
  text-decoration: none;
}

.content-top img {
  width: 25px;
  vertical-align: bottom;
}

.content-info {
  padding: 20px;
}

.content-info h2 {
  color: #000;
  margin: 25px 0 3px;
}

.content-info p {
  font-size: 10pt;
  color: #b0b0b0;
  margin: 0 0 30px;
}
.content-bottom {
  white-space: pre-wrap;
}

.content-bottom img {
  width: 80%;
  margin: 0 auto;
  display: block;
}
