.content-bt {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 6px 15px;
  font-size: 0.8em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(./src/asset/chatBackground.png);
  background-size: cover;
  background-position: center;
}

.section {
  /* opacity: 0; */
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.section h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #273316;
  text-align: center;
}

.section p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
  margin-top: 10px;
}

.section:last-child {
  margin-bottom: 70px;
}

.section .dog_image {
  width: 100%;
}

.move_btn {
  position: absolute;
  width: 45px;
  top: 50%;
  right: 1vw;
  cursor: pointer;
}

.pet_infos {
  text-align: center;
  width: 80%;
  padding: 20px 10px;
  margin: 25px auto;
  font-size: 20px;
  word-break: break-word;
  color: #000;
}

.pet_infos p {
  color: #ece3d4;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.pet_infos h3 {
  font-size: 30px;
  margin: 8px 0px 15px 0px;
}

.pet_info {
  text-align: center;
  width: calc(100% - 20px);
  padding: 20px 10px;
  margin-bottom: 25px;
  font-size: 20px;
  word-break: break-word;
  font-weight: bold;
}

.pet_info.title {
  font-size: 17px;
}

.pet_btn {
  border-radius: 30px;
  text-decoration: underline;
  background: #000;
  border: 0;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.pet_detail_recommend{
  position: fixed;
  height: 60vh;
  background: #fff;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  border-start-end-radius: 60px;
  border-start-start-radius: 60px;
  overflow: auto;
}

.pet_detail_recommend > div{
  padding: 10px 25px;
}

.pet_detail_recommend hr{
  width: 30%;
  margin: 0 auto 20px;
  border: 4px solid #eeeeee;
  border-radius: 4px;
}

@media (max-width: 500px) {
  .section h2 {
    font-size: 0.9em;
  }

  .section p {
    font-size: 0.8em;
  }
}
