.chatHeader {
  width: 100%;
  max-width: 500px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
}

.chat-box p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  position: absolute;
  left: 10px;
  width: 24px;
  cursor: pointer;
}

.logo img {
  height: 15px;
  cursor: pointer;
}

.logout-body {
  text-align: right;
}

.logout-bt {
  background: #fff;
  border: 0;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
}

/* 모달(사이드바) */
.modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.36);
  transition: 0.3s;
  z-index: 999;
}

.modal.active {
  left: 0;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.22);
  height: 100%;
  padding: 20px;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 0.22;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

.search-icon {
  width: 20px;
  margin-right: 10px;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
}
/* 채팅 배경화면 */
.chat-box {
  flex-grow: 1;
  overflow-y: hidden;
  height: calc(100vh - 100px);
}

.message.bot-message button {
  display: block;
  width: 60vw;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #e9cff1;
  color: black;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}

.message.bot-message button:hover {
  background-color: #da99ee;
}

.message.bot-message a {
  text-decoration: none;
  color: black;
}

.chatoverflow {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 20px;
  max-width: 88vw;
}

/* 메시지 컨테이너 */
.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* 메시지 박스 */
.message {
  max-width: 80%;
  padding: 10px;
  border-radius: 20px; /* 둥근 모서리 */
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}

.message img {
  max-width: 100px;
}

.message p {
  color: black;
}

.user-message {
  background-color: #d7d7d7;
  text-align: right;
  margin-left: auto;
  margin-right: -10px;
}

.bot-message-container {
  flex-direction: row;
}

.bot-message {
  background-color: #f0e5f3;
  white-space: pre-wrap;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px; /* 이미지와 텍스트 사이 간격 */
  margin-left: -10px;
}

/* 입력 박스 */
.input-box {
  display: flex;
  padding: 10px;
  background-color: black;
}

.input-box input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  background-color: #383838;
  border: none;
  border-radius: 20px;
  color: white;
  outline: none;
  font-size: 16px;
  color: #d3d3d3; /* Placeholder 글자색 */
}

.input-box input[type="text"]::placeholder {
  color: #a9a9a9; /* 밝은 회색 */
}

.input-box button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #f0e5f3;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #e0d4e3;
}

.chatCategory {
  background: #000;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 100;
  max-width: 400px;
  padding: 45px 25px;
  width: calc(80% - 50px);
}

.chatCategoryRight.active {
  right: -43vw;
  position: relative;
  left: 400px;
}

.chatCategory .modal-row {
  display: block;
  text-decoration: none;
  color: #fff;
}

.chatCategory p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.chatCategory h3 {
  font-size: 1.2em;
  margin-top: 4px;
}

@media (max-width: 500px) {
  .chatCategoryRight.active {
    left: 80%;
  }
}
