.row {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgb(240, 240, 240);
  background-size: cover;
}

.row h2 {
  font-size: 17pt;
  color: #000;
}

.row p {
  font-size: 15px;
  word-break: break-all;
}
.row p:last-child {
  font-size: 13px;
  margin-top: 32px;
  color: #89898a;
}
