.navbar {
  width: 100%;
  max-width: 500px;
  height: 40px;
  background-color: #eae1d2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar img {
  width: 90px;
  cursor: pointer;
}
