.row {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #a2a2a2;
}

.row h2 {
  color: #000;
  margin-bottom: 0;
}

.row p.date {
  font-size: 0.7em;
}

.row p.board-content {
  word-break: break-all;
  white-space: pre-wrap;
  /* visibility: hidden;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  transition: transform 0.7s ease-out, visibility 0.5s ease-out; */
}

.row p.board-content.active {
  visibility: visible;
  display: block;
  opacity: 1;
}

.onoff-bt {
  border: none;
  background-image: url(./asset/toggle_down.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  background-color: transparent;
}

.onoff-bt.active {
  background-image: url(./asset/toggle_up.png);
}

@media (max-width: 500px) {
  .content-info p {
    font-size: 0.9rem;
  }
  .content-body .row {
    width: calc(100vw - 40px);
  }
}
