.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 70px); /* footer 높이만큼 계산 */
  padding-bottom: 70px; /* 푸터 높이만큼 패딩 설정 */
  background: #eae1d2;
  color: #2d4924;
  padding-top: 40px; /* 푸터 높이만큼 패딩 설정 */
}

.account_wrap {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  margin-top: 0;
  background: url("./asset/AI_background.png") no-repeat center center;
}

.account_wrap::-webkit-scrollbar {
  display: none;
}

.ai_container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.ai_wrap {
  width: 500px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-y: auto; /* 스크롤 가능 */
  -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
  background: url("./asset/AI_background.png") no-repeat center center;
  background-size: cover;
}

.ai_wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari 스크롤바 숨기기 */
}

@media screen and (max-width: 500px) {
  .ai_wrap {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .ai_container {
    justify-content: center;
  }

  .ai_wrap {
    width: 500px;
    margin: 0 auto;
  }
}
